@import ./partials/_fonts.sass
@import ./partials/_variables.sass
@import ./partials/_reset.sass

body
  font-family: "Poppins", sans-serif
  width: 100%
  height: 100vh

.navbar-brand img
  height: 4.5rem

.nav-item
  .nav-link.fs-5
    color: $color-principal

.nav-link
  color: $color-principal
  text-decoration: none

.container-md
  .fs-1 
    color: $color-principal

#item-1
  color: $color-principal

#img-courses
  height: 200px

#img-section-two-courses
  height: 100px

.btn.btn-default.active
  color: $color-principal

#img-phrases
  height: 300px

#img-mail
  height: 150px

#floatingTextarea2
  height: 100px


